{% extends "base.html" %}
{% block content %}
{% if url %}
<p>Your link has been created! <a href="{{ url }}">{{ url }}</a></p>
{% else %}
<form action="" method="post">
    {{ form.hidden_tag() }}

    {% with item = form.redirect_url %}{% include "_input.html" %}{% endwith %}
    {% with item = form.title %}{% include "_input.html" %}{% endwith %}
    {% with item = form.subtext %}{% include "_input.html" %}{% endwith %}
    {% with item = form.image_url %}{% include "_input.html" %}{% endwith %}
    {% with item = form.favicon_url %}{% include "_input.html" %}{% endwith %}

    <p>{{ form.submit() }}</p>
</form>
{% endif %}
{% endblock %}
